body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.contenedor {
    width: 500px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

#resultado {
    margin-top: 25px;
    font-size: 18px;
}
